@import url(core.css);

/* =======================
     Cover Section
====================== */

.cover-section {
    padding: 0;
}

.carousel-news-box {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../../images/slider1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-news-box::after, .carousel-news-content {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.carousel-news-box::after {
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.carousel-news-content {
    color: white;
    z-index: 2;
    margin: auto 15%;
    width: fit-content;
    height: fit-content;
}

.carousel-news-header {
    font-family: var(--family-Rajdhani);
}

.carousel-news-heading {
    font-size: 80px;
    font-weight: 700;
    transition: .5s;
    line-height: 1;
}

.carousel-news-body {
    font-weight: 500px;
    font-size: 20px;
}

/* =======================
     Partners Section
====================== */

.partners-section {
    background-color: var(--color-main);
}

.partners-section .slick-next {
    right: -15px;
}

.partners-section .slick-prev {
    left: -15px;
}

.partner-box img {
    margin: auto;
}

/* =======================
     Features Section
====================== */

.features-section {
    background-color: var(--color-white);
}

.feature-box {
    display: flex;
    align-items: center;
}

.feature-icon {
    background-color: white;
    width: 90px;
    height: 90px;
    padding: 0 40px;
}

.feature-title {
    font-size: 22px;
    font-weight: 700;
}

.feature-body {
    color: var(--color-gray);
}

/* ====================
    About us Section 
======================*/

.about-section {
    padding-top: 120px;
}

.about-body {
    padding-right: 80px;
}

.about-list-item {
    padding-bottom: 10px;
}

.about-list-text {
    font-size: 17px;
    color: #6A6A6A;
}

.about-list-items i {
    color: var(--color-main);
    font-size: 13px;
    margin-right: 5px;
}

/* ====================
    Call Section
======================*/
.call-section {
    background-color: var(--color-secondary);
    padding: 60px 0px 55px 0px;
    color: white;
}

.call-box {
    width: 70%;
}

.call-icon {
    font-size: 60px;
    margin-right: 25px;
}

.call-text {
    font-size: 21px;
    font-weight: 500;
}

/* ====================
    Project Section
======================*/

.projects-section {
    background: var(--color-white)
}

.project-box {
    position: relative;
    margin-bottom: 26px;
    padding: 20px;
}

.project-image {
    overflow: hidden;
    position: relative;
}

.project-image img {
    transform: scale(1);
    transition: .5s;
}

.project-image::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000080;
    transform: scale(0);
    transition: .5s;
    z-index: 1;
}

.project-box:hover .project-image::before,
.project-box:hover .project-image img {
    transform: scale(1.2);
}

.project-content {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
    width: 80%;
    box-shadow: 0 0 40px 0 #0000000f;
    text-align: center;
    border-radius: 5%;
    z-index: 2;
    padding: 25px 0 20px 0;
}

.project-content-heading h1 {
    font-family: var(--family-Rajdhani);
    color: var(--color-dark);
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
}

.project-content-heading:hover h1 {
    color: var(--color-main);
}

/* ====================
    Contact Section
======================*/

.contact-section {
    background: var(--color-secondary);
    color:white;
}

.contact-form{
    background: white;
    border-radius:20px;
    padding:40px;
}

input.contact-input{
    height: 45px;
}

.contact-input{
    width: 100%;
    color: #888888;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #f1f1f1;
    padding-left: 25px;
}

.contact-form .button{
    display:block;
    width:100%;
}


